.login-block{
    width: 360px;
    margin: 0% auto;
    padding: 10px 20px ;
    background-color: #eeeeeec9 ;

}

body{
    background-color: #002B45;
    background-size: cover;
}

.index-title{
    text-align: center;
}

.form-control{
    padding-right: 42.5px;
}

.has-feedback{
    position: relative;
}

.fa-user, .fa-lock{
    position: absolute;
    top:10px;
    right: 0;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

.lang-select, .form-index{
    text-align: center;
}

.lang-select{
    padding-top: 10px;
    padding-bottom: 10px;
}

.centered > label{
    width: 100%;
    text-align: center;
}

.web-report{
    max-width: 100%;
    height: auto;
}

.index-footer{
    text-align: center;
    font-size: 13px;
}

.index-logo{
    margin-top: 6%;
    text-align: center;
}

.index-logo > img{
    height: 150px;
    background-color: #ffffff;
    border: 5px solid #ffffff;
}

.index-logo > h1{
    color: white;
    font-size: 32px;
}

.index-logo > h2{
    color: white;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.alert , .form-control , .btn {
    border-radius: 0px;
}

.btn-connexion{
    font-weight: bold;
}

@media (max-width:640px){

}