
/* =========== LOGO =========== */

.logo-mini > img {
     max-height: 40px;
     max-width: 45px;
     background-color: #ffffff;
     border: 1px solid #ffffff;
}
.logo-lg > img {
     max-height: 40px;
     max-width: 75px;
     margin-right: 5px; 
     margin-top: -5px;
     background-color: #ffffff;
     border: 2px solid #ffffff;
}
footer {
     margin-bottom: 0 !important;
}

.box-footer {
     margin-bottom: 0 !important;
}

.table {
     width: 100% !important;
}

.content-wrapper {
     min-height: 1106px !important;
}

.error-img {
     margin: auto;
     width: 25%;
}

.error-box {
     min-height: 1106px !important;
}
.error-result {
     width: 25%;
     margin: auto; 
     margin-top: 2em;
     height: 9em;
}
.error-return {
     margin: auto;
}

.user-dropdown {
     box-shadow: -1px 1px 20px #999;
}