<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<!-- Content Header (Page header) -->
<section class="content-header container">
    <link href="//cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet" />
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
    <link href="//cdn.quilljs.com/1.0.0/quill.core.css" rel="stylesheet" />
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="mb-1">
                <h1 class=""><strong th:text="#{news.create}"></strong></h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section>
    <!-- Create the toolbar container -->
    <div class="row mx-auto">
        <div class="col col-sm-8 offset-2 mx-auto">
            <!--            <h1 th:text="#{news.title}"></h1>-->
            <form th:action="@{/create-news}" th:object="${newsViewModel}" enctype="multipart/form-data"
                  th:method="POST" id="createNewsForm">
                <div class="form-group">
                    <label for="title" th:text="#{news.create.title}"></label>
                    <input th:field="*{title}" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Title of the news"/>
                    <!-- 				 th:field="{img}"		 	<small id="titleHelp" class="form-text text-muted">Title of the news</small> -->
                </div>
                <div class="form-group">
                    <label for="img">Image :</label>
                    <input type="file" th:field="*{img}" class="form-control" id="img" name="img"/>
                </div>
                <div class="form-group">
                    <label for="title">Description : </label>
                    <input class="form-control" th:field="*{description}" id="description" placeholder="Description of the news"/>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label for="editor" th:text="#{news.create.content}"></label>
                        <input type="hidden" id="content" name="editor" th:field="*{content}" />
                        <div id="editor">
                            <p>A robot who has developed sentience, and is the only robot of
                                his kind shown to be still functioning on Earth.</p>

                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{submit}"></button>
            </form>
        </div>
    </div>
</section>
<section>
    <!-- Initialize Quill editor -->
    <script>

        $(function () {

            var quill = new Quill('#editor', {
                modules : {
                    toolbar : [ [ {
                        header : [ 1, 2, false ]
                    } ], [ 'bold', 'italic', 'underline' ],
                        [ 'image', 'code-block', 'video', 'formula' ],
                        [{ 'size': ['small', false, 'large', 'huge'] }],

                    ]
                },
                placeholder : 'Compose an epic...',
                theme : 'snow' // or 'bubble'
            });
            // 			quill.enable(false);
            var form = document.querySelector('form');
            $(".btn-primary").on('click', function () {
                console.log('click');
            });
            $("form").submit(function (e) {

                $('#content').val(
                    JSON.stringify(quill.getContents()));

                return true;
            });
            form.onsubmit = function(e) {
                e.preventDefault();
                $('#content').val(
                    JSON.stringify(quill.getContents()));

                return false;
            };

        });

    </script>
</section>
</html>