<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">

<section class="content-header">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="mb-1">
                <h1 class=""><!--/*@thymesVar id="managment" type="com"*/-->
                <strong th:text="#{users.managment}"></strong></h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section>
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col">
            <!--/*@thymesVar id="users" type="com"*/-->
            <div th:each="user : ${users}">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Activated</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th th:text="${user.id}" scope="row"></th>
                        <td th:text="${user.userName}"></td>
                        <td th:text="${user.mail}"></td>
                        <td th:text="${user.mail}"></td>
                    </tr>
                    </tbody>
                </table>
                <!--/*@thymesVar id="roles" type="com"*/-->
                <div th:each="role : ${user.roles}">
                    <p th:text="${role.name}"></p>
                    <a th:href="@{/managment/user/removerole/{userId}/{roleId}(userId=${user.id}, roleId=${role.id})}">
                        <p>Remove</p>
                    </a>
                </div>

                <ol class="breadcrumb">
                    <th:block th:each="role: ${user.roles}">
                        <li class="breadcrumb-item">
                            <p th:text="${role.name}"></p>
                            <a th:href="@{/managment/user/removerole/{userId}/{roleId}(userId=${user.id}, roleId=${role.id})}">
                                <span class="badge badge-danger">X</span>
                            </a>
                        </li>
                    </th:block>
                </ol>

                <form class="form-inline" th:action="@{/managment/user/addrole}">
                    <input type="hidden" name="userId" th:value="${user.id}"/>
                    <label>
                        <!--                            th:field="*{role}"-->
                        <select th:each="role : ${roles}" name="roleId">
                            <option th:text="${role.id}"></option>
                            <option th:text="${role.name}"></option>
                        </select>
                    </label>
                    <button type="submit" class="btn btn-primary mb-2">Add</button>
                </form>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</section>
</html>