<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">

<section class="content-header">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="mb-1">
                <h1 class=""><!--/*@thymesVar id="managment" type="com"*/-->
                    <strong th:text="#{users.managment}"></strong></h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section>
    <div class="row">
        <div class="col m-3">
            <table id="users-table" class="table table-striped table-bordered m-3 cell-border" >
                <thead>
                <tr>
                    <th scope="row">Id</th>
                    <th scope="row">Login</th>
                    <th scope="row">Email</th>
                    <th scope="row">Prénom</th>
                    <th scope="row">Nom</th>
                    <th scope="row">Phone</th>
                    <th scope="row">Activé</th>
                    <th scope="row">Banni</th>
                    <th scope="row">Suspendu</th>
                    <th scope="row">Role</th>
                    <th scope="row">Actions</th>
                </thead>
                <tr th:each="user : ${users}">
                    <th scope="row" class="align-middle" th:text="${user.id}"></th>
                    <th scope="row" class="align-middle" th:text="${user.userName}"></th>
                    <th scope="row" class="align-middle" th:text="${user.mail}"></th>
                    <th scope="row" class="align-middle" th:text="${user.firstName}"></th>
                    <th scope="row" class="align-middle" th:text="${user.lastName}"></th>
                    <th scope="row" class="align-middle" th:text="${user.phone}"></th>
                    <th scope="row" class="align-middle">
                        <span class="badge block bg-success" th:if="${user.isActive} == TRUE">OUI</span>
                        <span class="badge block bg-danger" th:if="${user.isActive} == FALSE">NON</span></th>
                    <th scope="row" class="align-middle">
                        <span class="badge block bg-success" th:if="${user.isBanned} == FALSE">NON</span>
                        <span class="badge block bg-danger" th:if="${user.isBanned} == TRUE">OUI</span></th>
<!--                    <th scope="row" th:text="${user.isSuspended}">-->
                    <th scope="row" class="align-middle">
                        <span class="badge block bg-success" th:if="${user.isSuspended} == FALSE">NON</span>
                        <span class="badge block bg-danger" th:if="${user.isSuspended} == TRUE">OUI</span></th>
                    <th scope="row" class="align-middle" th:text="${user.roles}"></th>
                    <th scope="row">
                        <nobr>
                            <a class="custom-link" th:href="'/users/form/' + ${user.id}">
                                <button class='btn btn-warning' title="Modifier l'utilisateur">
                                    <span class='fa fa-pencil'></span>
                                </button>
                            </a>
                            <button class='btn btn-danger delete-button' title="Supprimer l'utilisateur" data-th-attr="data-user-id=${user.id}">
                                <span class='fa fa-trash'></span>
                            </button>
                        </nobr>
                    </th>
                </tr>
                <tfoot>
                <tr>
                    <th scope="row">Id</th>
                    <th scope="row">Login</th>
                    <th scope="row">Email</th>
                    <th scope="row">Prénom</th>
                    <th scope="row">Nom</th>
                    <th scope="row">Phone</th>
                    <th scope="row">Activé</th>
                    <th scope="row">Banni</th>
                    <th scope="row">Suspendu</th>
                    <th scope="row">Role</th>
                    <th scope="row">Actions</th>
                </tr>

                </tfoot>
            </table>
            <!--</div>-->
            <!--/*@thymesVar id="users" type="com"*/-->
            <!--/*@thymesVar id="roles" type="com"*/-->
            <!--                <div th:each="role : ${user.roles}">-->
            <!--                    <p th:text="${user.role.name}"></p>-->
            <!--                    &lt;!&ndash;                    <a th:href="@{/managment/user/removerole/{userId}/{roleId}(userId=${user.id}, roleId=${role.id})}">&ndash;&gt;-->
            <!--                    <p>Remove</p>-->
            <!--                    </a>-->
            <!--                </div>-->

            <!--                <ol class="breadcrumb">-->
            <!--                    <th:block th:each="role: ${user.roles}">-->
            <!--                        <li class="breadcrumb-item">-->
            <!--                            <p th:text="${role.name}"></p>-->
            <!--                                                                    <a th:href="@{/managment/user/removerole/{userId}/{roleId}(userId=${user.id}, roleId=${role.id})}">-->
            <!--                            <span class="badge badge-danger">X</span>-->
            <!--                            </a>-->
            <!--                        </li>-->
            <!--                    </th:block>-->
            <!--                </ol>-->

            <!--                <form class="form-inline" th:action="@{/managment/user/addrole}">-->
            <!--                    <input type="hidden" name="userId" th:value="${user.id}"/>-->
            <!--                    <label>-->
            <!--                        &lt;!&ndash;                            th:field="*{role}"&ndash;&gt;-->
            <!--                        <select th:each="role : ${roles}" name="roleId">-->
            <!--                            <option th:text="${role.id}"></option>-->
            <!--                            <option th:text="${role.name}"></option>-->
            <!--                        </select>-->
            <!--                    </label>-->
            <!--                    <button type="submit" class="btn btn-primary mb-2">Add</button>-->
            <!--                </form>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--        <div class="col-2">-->
            <!--        </div>-->
        </div>
    </div>
</section>
<script th:inline="javascript" layout:fragment="script" type="text/javascript">
    /*<![CDATA[*/
    $(function () {

        class UsersDataTable {
            constructor() {
                this.dataTable = $("#users-table").on('init.dt', function () {

                    var table = $(this);
                    var thTags = table.find('tfoot th');

                    // $(this).find("thead th").each(function (index) {
                    //     if (index < (thTags.length - 1)) { // All column except the last one
                    //         var title = $(this).text();
                    //         $(this).html('<div><div class="datatable-title-container"><div class="input-fill-space"><input type="text" placeholder="Recherche par ' + title + '" class="th-input" /></div></div></div>');
                    //     } else {
                    //         $(this).html(title);
                    //     }
                    // });
                }).DataTable({
                    responsive: true,
                    colReorder: {
                        fixedColumnsRight: 1
                    },
                    pageLength: 10,
                    pagingType: "full_numbers",
                    dom: '<"toolbar">Bfrtip',
                    initComplete: function () {
                    },
                    // language: {
                    //     lengthMenu: "Afficher _MENU_ résultats par page",
                    //     sLengthMenu: "Afficher _MENU_ lignes",
                    //     zeroRecords: "Aucun résultat correspondant à la recherche trouvé",
                    //     info: "Résultats page _PAGE_ sur _PAGES_ pages",
                    //     infoEmpty: "Aucun résultat trouvé",
                    //     infoFiltered: "(filtré sur un total de _MAX_ résultats)",
                    //     search: "Recherche:",
                    //     paginate: {
                    //         first: "Début",
                    //         last: "Fin",
                    //         next: "Suivant",
                    //         previous: "Précédent"
                    //     },
                    //     buttons: {
                    //         pageLength: {
                    //             _: "Afficher %d lignes",Tout
                    //             '-1': " afficher"
                    //         }
                    //     }}
                });

                this.setDeleteListener();

                // Apply the search
                this.dataTable.columns().every(function () {
                    var that = this;

                    $('input', this.header()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that.search(this.value).draw();
                        }
                    });
                });
            }

            setDeleteListener() {

                this.dataTable.on("click", ".delete-button", function () {

                    var row = $(this).closest("tr");
                    var userId = $(this).data('user-id');

                    $.confirm({
                        title: "Supppression d'un utilisateur",
                        content: "Voulez-vous vraiment supprimer cet utilisateur ?",
                        type: "red",
                        buttons: {
                            modify: {
                                text: "Supprimer",
                                btnClass: "btn-red",
                                action: function () {
                                    $.ajax({
                                        url: "/users/remove/" + userId,
                                        type: 'GET'
                                    })
                                        .done(function () {
                                            UsersDataTable.deleteRow(row);
                                        });
                                }
                            },
                            cancel: {
                                text: "Annuler"
                            }
                        }
                    });
                });
            }

            static deleteRow(row) {
                usersDataTable.dataTable.row(row).remove().draw();
            }
        }

        var usersDataTable = new UsersDataTable();
        // var usersDataTable = $('usersDataTable').DataTable();
    });
    /*]]>*/
</script>
</html>