<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<section>

 <link rel="icon" th:href="@{/images/favicon.ico}" href="../../static/images/favicon.ico" />
 <link rel="stylesheet" type="image/" th:href="@{/images/}"/>
 <link rel="stylesheet" type="application/json" th:href="@{/webjars/bootstrap/bootstrap.min.scss}"/>
 <link rel="stylesheet" type="application/json" th:href="@{/webjars/bootstrap/bootstrap.css}"/>
 <link rel="stylesheet" type="application/json" th:href="@{/scss/bootstrap/}"/>
 <link rel="stylesheet" type="text/css" th:href="@{/css/argon.css}"/>
 <link rel="stylesheet" type="text/css" th:href="@{/css/our.css}"/>
 <link rel="stylesheet" type="text/css" th:href="@{/css/shop.css}"/>
 <link rel="stylesheet" type="text/css" th:href="@{/css/news.css}"/>
 <link rel="stylesheet" type="application/json" th:href="@{/webjars/bootstrap/bootstrap-grid.css}"/>
 <link rel="stylesheet" type="application/json" th:href="@{/webjars/bootstrap/bootstrap-reboot.css}"/>
 <link rel="stylesheet" type="application/json" th:href="@{/img/icons/common/google.svg}"/>
 <link rel="stylesheet" type="application/json" th:href="@{/img/icons/common/github.svg}"/>
 <link rel="stylesheet" type="application/json" th:href="@{/scss/bootstrap/argon.scss}"/>
 <link rel="stylesheet" type="application/json" th:href="@{/fonts/nucleo/nucleo-icons.eot}" href="../../static/fonts/nucleo/nucleo-icons.eot"/>
 <link rel="stylesheet" type="application/json" th:href="@{/fonts/nucleo/nucleo-icons.svg}" href="../../static/fonts/nucleo/nucleo-icons.svg"/>
 <link rel="stylesheet" type="application/json" th:href="@{/fonts/nucleo/nucleo-icons.ttf}" href="../../static/fonts/nucleo/nucleo-icons.ttf"/>
 <link rel="stylesheet" type="application/json" th:href="@{/fonts/nucleo/nucleo-icons.woff}" href="../../static/fonts/nucleo/nucleo-icons.woff"/>
 <link rel="stylesheet" type="application/json" th:href="@{/fonts/nucleo/nucleo-icons.woff2}" href="../../static/fonts/nucleo/nucleo-icons.woff2"/>
 <link rel="stylesheet" type="application/json" th:href="@{/vendor/}"/>
 <!-- <link rel="stylesheet" type="application/json" th:href="@{/css/argon.min.css}"/>-->

 <!--<link rel="stylesheet" href="http://fr.allfont.net/allfont.css?fonts=arial-black"/>-->
 <!--<link rel="stylesheet" href="http://fr.allfont.net/allfont.css?fonts=ubuntu"/>-->
 <!--<link rel="stylesheet" href="http://fr.allfont.net/allfont.css?fonts=open-sans"/>-->
 <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.1/css/flag-icon.min.css"/>-->
 <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" -->
 <!--    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" -->
 <!--    crossorigin="anonymous"/>-->
 <!--<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">-->

</section>

