<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>PonyDaFuck</title>
        <meta charset="UTF-8"/>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta http-equiv="Content-Type" content="text/html"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

        <th:block th:replace="fragments/style-common"/>
    </head>
    <body>
        <th:block th:replace="fragments/header"/>

        <div class="row">
            <div class="col-6 offset-md-3">
                <br/>
                <p th:text="#{message}"></p>
            </div>
        </div>

        <th:block th:replace="fragments/footer"/>
        <th:block th:replace="fragments/script-common"/>
    </body>

    <th:block th:replace="fragments/footer"/>
    <th:block th:replace="fragments/script-common"/>
</html>