<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xmlns:data="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>PonyDaFuck</title>
	<meta name="description" content="text/html;"/>
	<meta name="keywords" content="text/html;"/>
	<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

	<th:block th:insert="fragments/style-common"/>
</head>
<body class="hold-transition sidebar-mini">

<div id="wrapper">
	<header class="content-header d-block" th:replace="fragments/header"></header>
	<header class="content-aside" th:replace="fragments/aside" sec:authorize="isFullyAuthenticated()"></header>
	<div th:replace="fragments/loader"></div>
	<div class="content-wrapper">

		<div class="progress progress-sm active" id="progress-bar-container">
			<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0"
				 class="progress-bar progress-bar-striped" id="loader-progress" role="progressbar"></div>
		</div>

		<section class="main-content " id="main-content">

			<article class="" th:replace="fragments/welcome" sec:authorize="isAnonymous()">
			</article>
			<article >
			</article>
		</section>
	</div>
</div>

<footer class="main-content " th:replace="fragments/footer" sec:authorize="isAnonymous()"></footer>
<th:block th:replace="fragments/script-common"/>
</body>
</html>