<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>PonyDaFuck</title>
	<meta charset="UTF-8"/>
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<meta http-equiv="Content-Type" content="text/html"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

	<th:block th:replace="fragments/style-common"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<th:block th:replace="fragments/header"/>
<div class="container">
	<div class="row">
		<div class="col" style="text-align: center">
			<h1 th:text="#{welcome.homepage}"></h1>
		<h1>Time is: <strong th:text="${#calendars.format(#calendars.createNow(), 'dd MMM yyyy HH:mm')}">31/12/2015 15:00</strong></h1>
		<h1>Time is: <strong th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')} ">31/12/2015 15:00</strong></h1>

		</div>
	</div>
	<img alt="Pony Logo" class="align-items-center"  style="background-color: #fff; height: 50%; width:50%" th:src="@{/images/login-unicorn.jpg}" >

	<div class="row">

		<th:block th:replace="news/news"/>

	</div>
</div>
<th:block th:replace="fragments/script-common"/>
<th:block th:replace="fragments/footer"/>
</body>
</html>