<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->
<!--      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">-->

<head>
    <title>PonyDaFuck</title>
    <meta charset="UTF-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <th:block th:replace="fragments/style-common"/>

<body class="hold-transition login-page ">
<header class="content-header" th:replace="fragments/header-login"></header>
<div th:replace="fragments/loader"></div>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<div class="login-box">
    <div class="login-logo">
        <a href="../home.html" class="text-light"><b>P</b>o<b>N</b>y</a>
    </div>
    <!-- /.login-logo -->
    <div class="card login-card elevation-5">
        <div class="card-header login-card-header">
            <p class="login-box-msg">
                <div class="row justify-content-center">
                    <h2 class="" th:text="#{welcome}"></h2>
            <p class="" th:text="#{mail.protect}">
                <small th:text="#{signin}"></small>
            </p>
        </div>
    </div>
    <div class="card-body login-card-body">

        <div class="text-center text-muted mb-3">
            <small th:text="#{signin}"></small>
        </div>
        <form th:action="@{/login}" th:method="POST" role="form" autocomplete="on">
            <div class="form-group has-feedback pl-2 pr-2">
                <div class="row mb-2">
                    <label for="login" th:value="#{mail}"></label>
                    <span class="fa fa-envelope form-control-feedback col-1"></span>
                    <input type="email" class="form-control  offset-1 col-9" id="login" aria-describedby="EmailHelp" th:placeholder="#{mail}" placeholder="Email" name="login" autocomplete="on">
                </div>
            </div>
            <div class="form-group has-feedback pl-2 pr-2">
                <div class="row">
                    <label for="password" th:value=="#{password}"></label>
                    <span class="fa fa-lock form-control-feedback col-1"></span>
                    <input class="form-control  offset-1 col-9" id="password"  th:placeholder="#{password}" placeholder="Password" type="password" name="password"  autocomplete="on">
                </div>
                <div class="row justify-content-md-center">
                    <div class="">
                        <div class="checkbox icheck m-2">
                            <label for=" customCheckLogin">
                                <input type="checkbox" class="custom-control-input" id=" customCheckLogin">
                                <span class="ml-2 mt-2" th:text="#{remember}"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="">
                        <button type="submit" class="btn btn-primary m-1" th:text="#{submit}"></button>
                    </div>
                </div>
            </div>
        </form>


    </div>
    <small class="mb-2 text-center" th:text="#{signin.with}"></small>

    <div class="card-footer">
        <div class="social-auth-links text-center mb-3">

            <div class="text-center">
                <a href="#" class="btn btn-primary mr-3">
                    <i class="fa fa-facebook mr-2"></i> Facebook
                </a>
                <a href="#" class="btn btn-danger">
                    <i class="fa fa-google-plus mr-2"></i> Google
                </a>

                <p class="m-2">
                    <a th:href="@{/reset-password}" class="" th:text="#{password.forgot}"><small></small></a>
                </p>
                <p class="mb-0">
                    <a th:href="@{/register}" class="" th:text="#{account.create}"><small></small></a>
                </p>
            </div>
        </div>
    </div>

</div>

<th:block th:replace="fragments/footer"/>
<th:block th:replace="fragments/script-common"/>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass   : 'iradio_square-blue',
            increaseArea : '20%' // optional
        })
    })
</script>
</body>
</html>