<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<section class="content-header">

</section>

<section>

</section>
<script type="text/javascript">
    /*<![CDATA[*/

    /*]]>*/
</script>
</html>